@use 'partials/colors';
@use 'partials/mixins';

.navigation{
  background-color: colors.$dark-background;
  padding: 15px;
  margin-bottom: 50px;
  a {
    color: white;
    text-transform: uppercase;
  }
  nav {
    display: inline-block;
    float: right;
    a {
      text-decoration: none;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.content {
  a {
    color: colors.$primary-color;
  }
}

.feature-image {
  display: inline-block;
}

.content {
display: inline-block;
width: 400px;
text-align: center;
}

.title {
color: colors.$primary-color;
}

.subtitle {
font-size: 30px;
text-transform: uppercase;
}

.primary{
padding: 10px;
background-color: tomato; 
font-size: 20px;
color: white;
}

.secondary {
padding: 10px;
background-color: tomato; 
font-size: 20px;
color: white;
}



@media (min-width: 1040px) {
    .navigation {

    background-color: colors.$light-background;
 }
}